{% macro render_tree(root, childrens) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{root['id']}}">
          {{ root }}
        </a>
      </h4>
    </div>
    <div id="collapse{{root['id']}}" class="panel-collapse collapse in">
      <div class="panel-body">
        {% for node in childrens[root.num] %}
          {{ render_tree(node, childrens) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}
