{% extends "layout.html" %}
{% block title %}scoopydoo{% endblock %}
{% block nav %}
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Activer navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">payutc admin</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      {% for service in services %}
      <li><a href="{{ url_for(service.url) }}">{{service.name}}</a></li>
      {% endfor %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connecté : {{ username }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('cas.logout') }}">Déconnection</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block body %}
<div class="well">
  <p>En fonction de tes droits, divers modules s’offrent à toi</p>
</div>
{% endblock %}
